<div class="panel panel-default">
  <div class="panel-heading">
    <strong>New letter</strong>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <input type="text" 
             placeholder="Enter letter title"
             class="form-control">
    </div>
    <div class="form-group">
      <textarea rows="10"
                placeholder="Enter letter body"
                class="form-control">        
      </textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-success">
        Send
      </button>
      <button class="btn btn-sm btn-warning">
        Cancel
      </button>
    </div>
  </div>
</div>