<ul class="list-group">
  <li class="list-group-item text-center">
    <button class="btn btn-sm btn-block btn-success"
            (click)="writeNewLetter()">
      <strong>
        <span class="glyphicon glyphicon-edit"></span>
        Write new letter
      </strong>
    </button>
  </li>
  <li class="list-group-item text-center"
      style="cursor: pointer"
      [routerLink]="['boxes', folder.id]"
      *ngFor="let folder of folders">
    <strong>
      {{folder.name}}
    </strong>
  </li>
  <li class="list-group-item text-center"
      style="cursor:pointer"
      [routerLink]="['deleted']">
    <strong>
      Deleted
    </strong>
  </li>
</ul>