<ul class="list-group">
  <li class="list-group-item text-center">
    <button class="btn btn-sm btn-block btn-success"
            [disabled]="activeFolder === 'new'"
            (click)="writeNewLetter()">
      <strong>
        <span class="glyphicon glyphicon-edit"></span>
        Write new letter
      </strong>
    </button>
  </li>
  <li class="list-group-item text-center"
      style="cursor: pointer"
      [ngClass]="{'active': folder.name === activeFolder}"
      [routerLink]="['boxes', folder._id]"
      (click)="setActiveFolder(folder.name)"
      *ngFor="let folder of folders">
    <strong>
      <span class="glyphicon glyphicon-{{folder.tag}}"></span>
      {{folder.name}}
    </strong>
  </li>

  <li class="list-group-item text-center">
    <div class="btn-group">
      <button class="btn btn-sm btn-default btn-group"
              [disabled]="activeFolder === 'management'"
              (click)="showManagement()">
        <strong>
          <span class="glyphicon glyphicon-cog"></span>
          Configure
        </strong>
      </button>
      <button class="btn btn-sm btn-default btn-group"
              (click)="logOut()">
        <strong>
          <span class="glyphicon glyphicon-log-out"></span>
          Log Out
        </strong>
      </button>
    </div>
  </li>
</ul>