<!--<div class="modal fade"
     id="moveMails"
     role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Choose folder where to move selected {{selectedLetters.length}} 
          <span *ngIf="selectedLetters.length === 1">
            Letter
          </span>
          <span *ngIf="selectedLetters.length > 1">
            Letters
          </span>
        </h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item"
              style="cursor: pointer"
              *ngFor="let folder of foldersToMove"
              [ngClass]="{'active': folderToMove.name === folder.name}"
              (click)="selectFolderToMove(folder)">
              <strong>
                <span class="glyphicon glyphicon-hand-right"
                      *ngIf="folderToMove.name === folder.name">
                </span>
                {{folder.name}}
              </strong>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" 
                (click)="approveMovement()"
                data-dismiss="modal"
                [disabled]="!folderToMove.name.length"
                class="btn btn-primary">
          <strong>
            Move
          </strong>
        </button>
        <button type="button" 
                class="btn btn-default" 
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>-->

<div class="panel panel-default"
     *ngIf="pageTitle">
  <div class="panel-heading">
    <strong>
      {{pageTitle}} 
    </strong>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-success btn-sm"
                [disabled]="creationMode"
                (click)="setCreationMode()">
          <strong>
            <span class="glyphicon glyphicon-folder-close"></span>
            Create new folder
          </strong>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"
           *ngIf="creationMode">
        <br>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     [(ngModel)]="newFolder.name"
                     placeholder="Enter folder title">
            </div>
            <button class="btn btn-success btn-sm"
                    [disabled]="!newFolder.name"
                    (click)="createFolder()">
              Create
            </button>
            <button class="btn btn-default btn-sm"
                    (click)="cancelCreation()">
              Cancel
            </button>
          </div>
        </div>
        <div class="alert alert-info text-center"
             *ngIf="folderExists">
          <strong>Folder already exists</strong>
        </div>
      </div>
      <div class="col-sm-12"
           [ngClass]="{'col-sm-8': creationMode}">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <span class="glyphicon glyphicon-tag"></span>
              </th>
              <th>
                Title
              </th>
              <th class="text-center">
                Letters amount
              </th>
              <th class="text-center">
                Remove
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let folder of folders, let i = index">
              <td>
                {{i}}
              </td>
              <td>
                {{folder.name}}
              </td>
              <td class="text-center">
                {{folder.letters.length}}
              </td>
              <td class="text-center">
                <button class="btn btn-sm btn-danger"
                        [disabled]="folder.immutable"
                        (click)="deleteFolder(folder)">
                  <strong>
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                  </strong>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>