<div class="modal fade"
     id="moveMails"
     role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Choose folder where to move selected {{selectedLetters.length}} 
          <span *ngIf="selectedLetters.length === 1">
            Letter
          </span>
          <span *ngIf="selectedLetters.length > 1">
            Letters
          </span>
        </h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item"
              style="cursor: pointer"
              *ngFor="let folder of foldersToMove"
              [ngClass]="{'active': folderToMove.name === folder.name}"
              (click)="selectFolderToMove(folder)">
              <strong>
                <span class="glyphicon glyphicon-hand-right"
                      *ngIf="folderToMove.name === folder.name">
                </span>
                {{folder.name}}
              </strong>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" 
                (click)="approveMovement()"
                data-dismiss="modal"
                [disabled]="!folderToMove.name.length"
                class="btn btn-primary">
          <strong>
            Move
          </strong>
        </button>
        <button type="button" 
                class="btn btn-default" 
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default"
     *ngIf="pageTitle">
  <div class="panel-heading">
    <strong>
      {{pageTitle}} 
      <span class="label label-primary">
        {{lettersAmount}}
      </span>
    </strong>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <button class="btn btn-sm btn-default"
                      (click)="toggleSelectAll()"
                      [ngClass]="{'btn-primary': selectedAll}">
                <strong>
                  <span class="glyphicon glyphicon-ok"></span>
                  Select all
                </strong>
              </button>
            </div>
            <div class="col-sm-5">
              <button class="btn btn-default btn-sm"
                      data-toggle="modal"
                      data-target="#moveMails"
                      (click)="moveSelectedMails()"
                      [disabled]="!selectedLetters.length">
                <strong>
                  <span class="glyphicon glyphicon-share-alt"></span>
                  Move
                </strong>
              </button>
              <button class="btn btn-default btn-sm"
                      (click)="moveToTrash()"
                      [disabled]="!selectedLetters.length">
                <strong>
                  <span class="glyphicon glyphicon-trash"></span>
                  Delete
                </strong>
              </button>
            </div>
            <div class="col-sm-5">
              <div class="btn-group pull-right">
                <div class="btn-group">
                  <button class="btn btn-sm btn-default"
                          [ngClass]="{'btn-primary': sortType === 'date'}"
                          (click)="setOrderBy('date')">
                    <strong>
                      Date
                    </strong>
                  </button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-sm btn-default"
                          [ngClass]="{'btn-primary': sortType === 'title'}"
                          (click)="setOrderBy('title')">
                    <strong>
                      Title
                    </strong>
                  </button>
                </div>
                <div class="btn-group">
                  <button class="btn btn-sm btn-default"
                          [ngClass]="{'btn-primary': sortType === 'author'}"
                          (click)="setOrderBy('author')">
                    <strong>
                      Author
                    </strong>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <ul class="list-group">
          <li class="list-group-item"
              *ngFor="let letter of folder.letters">
            <div class="row">
              <div class="col-sm-1">
                <button class="btn btn-default btn-sm"
                        (click)="toggleSelectedLetter(letter)"
                        [ngClass]="{'btn-primary': letter.selected}">
                  <span class="glyphicon glyphicon-check"></span>
                </button>
              </div>
              <div class="col-sm-9">
                  <strong>
                    Author name:
                  </strong>
                  <strong>
                    {{letter.title}}
                  </strong>
              </div>
              <div class="col-sm-2">
                <span class="pull-right">
                  {{letter.date | date: 'dd/MM/yyyy'}}
                </span>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>