<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <input type="text" 
             [(ngModel)]="newUser.name"
             placeholder="Enter new user name"
             class="form-control">
      <input type="text" 
             [(ngModel)]="newUser.age"
             placeholder="Enter new user age"
             class="form-control">        
      <button class="btn btn-sm btn-success btn-block"
              (click)="createUser(newUser)">
        Create new User
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"
       *ngFor="let user of users">
    <div class="panel panel-danger">
      <div class="panel-heading text-center"
           style="cursor:pointer"
           (click)="selectUser(user)">
        <strong>
          {{user.name}} {{user.age}}
        </strong>
      </div>
      <div class="panel-body"
           *ngIf="user.showUpdateModal">
        <div class="form-group">
          <input type="text" 
                 class="form-control"
                 placeholder="Enter new name"
                 [(ngModel)]="user.newName">
        </div>
        <button class="btn btn-sm btn-primary btn-block"
                (click)="updateUser(user)">
          Update
        </button>
      </div>
    </div>
  </div>
</div>